# Ignorar dependencias de Node.js
node_modules/

# Ignorar configuración de VS Code
.vscode/

# Ignorar archivos de bloqueo de dependencias
package-lock.json

# Ignorar otras carpetas relacionadas
webfonts/
Images/

# Ignorar archivos temporales y específicos de sistema
.DS_Store
Thumbs.db
*.tmp

# Ignorar archivos de configuraciones específicas o de entorno
.env

# Ignorar archivos relacionados con el sistema operativo
Application Data/
Cookies/
Documents/
Local Settings/
My Documents/
3D Objects/
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Local Sites/
Music/
Pictures/
Saved Games/
Searches/
Videos/
*.lnk
*.p12
*.pdf
*.docx
*.exe
*.jpg
*.jpeg
*.png
*.gif
