# Ignorar archivos y carpetas del sistema
Application Data/
Cookies/
Documents/
Local Settings/
My Documents/
3D Objects/
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Local Sites/
Music/
Pictures/
Saved Games/
Searches/
Videos/
*.lnk
*.tmp
*.pdf
*.docx
*.p12
*.exe
*.jpg
*.jpeg
*.png
*.gif
.vscode/
node_modules/
NTUSER.DAT*
