/* START Global Rulez */
* {
  box-sizing: border-box;
}
:root{
  --main-color:#C9C9C9;
  --main-color-alt:#1A1A1A;
  --main-color-alert:#1A99AC;
  --section-padding: 60px;
  --section-margin: 60px;
  --main-transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
  background-color:white;
  position: relative;
}
ul{
 list-style: none;
 margin: 0;
 padding: 0;
}
.fa-home {
  margin-right: 10px;
}
a{
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.scroll-to-top {
   display: none; 
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color:var(--main-color-alt);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.titlePage {
  padding: 20px;
  margin-top:20px;
  margin-bottom:60px;
  display: flex;
  
}
.titlePage button{
  background-color:var(--main-color);
  width: fit-content;
  color:var(--main-color-alert);
  text-align: center;
  padding: 0px  20px;
  border-radius: 20px ;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
}
.titlePage button i{
  font-size: 20px;
  font-weight: bolde;
 
}

.titlePage button:hover{
  background-color: var(--main-color-alert);
  border: 1px solid var(--main-color-alt);
  color:white;
}

.titlePage  h1{
  text-align: center;
  border:1px solid var(--main-color-alert);
  margin: auto;
  padding: 10px 20px;
  background-color: var(--main-color);
  width: fit-content;
  border-radius:20px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -ms-border-radius:20px;
  -o-border-radius:20px;
}
/* Small */
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}
/* Large*/
@media (min-width:1200px) {
  .container{
    width: 1170px;
  }
}
.detais-buscar {
   margin-top: 0px;
   padding-top: 0; 
}
.actived {
  background-color:var(--main-color-alert);
  border-top: 2px solid var(--main-color);
}

/* END Global Rulez */
/* START Header */
.header{
  background-color:var(--main-color-alt);
  position: relative;
  box-shadow: 0 0 10px var(--main-color-alert);
  z-index:100 ;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .container .logo{
 
  height: 100px !important;
  padding: 0;
  width: 200px;
  height: fit-content;
  font-size: 26px;
 font-weight: bold;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}
.header .container .logo img{
  max-width: 60%;
}
@media (max-width: 767px){
  .header .container {
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
    max-width:fit-content !important;
  }
  .header .container .main-nav li > a {
    margin-left: 0px !important;
    padding: 5px !important;
   
  }
 
 .header .logo{
  max-width: 100%;
  width: 50px;
 }
 .search-form, .fa-home {
  display: none;
 }


}
.header .container #search-form {
  padding:5px;
  background-color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.header .container #search-form #search-input {
  padding:10px;
  background-color: var(--main-color-alert);
  border-radius: 20px;
  border:none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.header .container #search-form button {
  margin-left: 10px;
  border:none;
  padding: 10px;
  background-color:white;
  color: var(--main-color-alert);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container #search-form button:hover {
border:1px solid var(--main-color-alert);
color:var(--main-color-alt);
}

.header .main-nav{
  display: flex;
align-self:center;
}
@media (max-width:767px){

  .header .main-nav{
    margin:auto;
  }
}





.header .main-nav > li > a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color:white;
  font-size: 15px;
  padding: 0 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width:767px){

  .header .main-nav >li > a{
    padding:10px;
    font-size: 14px;
    height: 40px;
  }
}


.header .main-nav > li > a::before{
  content:"";
  position: absolute;
  width: 100%;
  height: 4px;
  top:0;
  left:-100%;
  background-color:white;
  transition:var(--main-transition);
  -moz-transition:var(--main-transition);
  -ms-transition:var(--main-transition);
  -o-transition:var(--main-transition);
  -webkit-transition:var(--main-transition);
}
.header .main-nav > li > a:hover{
 color:var(--main-color-alert);
 background-color:white;
}

.header .main-nav > li > a:hover::before{
 left:0;
 background-color: var(--main-color-alert);
 }

 
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap:0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:auto;
  }
}
 
 @media (max-width: 991px) {
  .row{
    display: flex !important;
    flex-direction: column !important;
    
  }
  .titlePage{
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;
  }
  #page-contacto .container {
    display:flex !important;
    flex-direction: column !important;;
  }
  #page-contacto .container form{
    max-width: 100%;

  }
  #page-ayuntamiento .line {
    max-width: 100% !important;
    flex-direction: column !important;
  }
  form .input-form,
  form input[type="submit"]
   
   {
    max-width: 300px !important;
  }

 }
 
 @media (max-width:767px) {
  .row{
    display: flex !important;
    flex-direction: column !important;
    flex-direction: center;
    align-items: center !important;

  }
  .card{
    max-width: 350px !important;
    justify-content: center !important;
    align-items: center !important;
  }

 }
 



 

/* END Header */

/* START Landing */
#page-landing{
 position: relative ;
}
#page-landing::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  left: 0;
  background-color:var(--main-color);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  border: 2px solid var(--main-color-alert);
 box-shadow: 0 0 15px var(--main-color-alt);
}
#page-landing .container {
 height: calc(100vh - 72px) ;
 display:flex;
 align-items: center;
 padding-bottom: 120px;
}

#page-landing .container .text {
  flex-basis: 1;
  padding-top: 40px;
}
@media (max-width: 991px){
  #page-landing .container .text{
    text-align: center;
  }
}
#page-landing .container .text h1 {
 font-size: 40px;
 margin:0;
 letter-spacing: -2px;
 color:var(--main-color-alt);
}
@media (max-width: 767px){
 #page-landing .container .text h1 {
    font-size: 28px;
  }
}
#page-landing .container .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0 ;
  color:var(--main-color-alt);
  max-width: 600px;
}
#page-landing .container .text button {
  font-size: 23px;
  margin: 20px auto ;
  color:var(--main-color-alt);
  background-color: var(--main-color-alert);
  width: 250px;
  padding: 10px;
  border:none;
  box-shadow: white 10px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#page-landing .container .text button:hover {
font-weight: bold;
color:var(--main-color-alt);
width: 270px;
border:white 2px solid;
}

@media (max-width: 768px) {
 #page-landing .container .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px){
  #page-landing .container .text p {
    margin:10px auto ;
  }
}
#page-landing .container .image img{
  position: relative;
  max-width: 100%;
  width: 600px;
  animation:up-and-down 5s linear infinite;
  -webkit-animation:up-and-down 5s linear infinite;
  border-radius: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media (max-width: 991px){
  #page-landing .container .image {
    display : none;
  }
}
#page-landing .go-down{
  color: var(--main-color-alt);
  position: absolute;
  bottom: 30px;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
#page-landing .go-down:hover {
  color:var(--main-color-alt);

}
#page-landing .go-down i{
  animation:  bouncing 1.5s infinite;
  -webkit-animation:  bouncing 1.5s infinite;
}


/* END Landing */


/* ==================================================>>>>>>>>>>>> START SERVICIOS<<<<<<<<<<================= */

#page-servicios , #page-ayuntamiento ,#page-asociaciones{
  margin-top:var(--section-margin);
  margin-bottom: var(--section-margin);
}

#page-servicios .container,
 #page-ayuntamiento .container,
 #page-asociaciones .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border:1px solid var(--main-color);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



#page-servicios .container section ,
 #page-servicios .container section,
 #page-asociaciones.container section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  max-height: 100%;
}

#page-servicios .container section .row,
#page-ayuntamiento .container section .row,
#page-asociaciones .container section .row{
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 15px;

}
#page-servicios .container section .definicion, 
#page-ayuntamiento .container section .definicion,
#page-asociaciones .container section .definicion {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 padding: 20px;
 max-width: 80vw;
 background-color:var(--main-color-alert);
 border-radius:15px ;
 -webkit-border-radius:15px ;
 -moz-border-radius:15px ;
 -ms-border-radius:15px ;
 -o-border-radius:15px ;
}


#page-servicios .container section .definicion p,
#page-ayuntamiento .container section .definicion p,
#page-asociaciones .container section .definicion p {
  text-align: center;
  color:white;
  line-height:1.3;
  font-size: 1.3rem;
}

#page-servicios .container section .row .card,
#page-ayuntamiento .container section .row .card,
#page-asociaciones .container section .row .card {
  margin: 20px auto;
  background-color:  #c8ddf4;
  border-radius: 15px;
  width: 500px !important;
  min-height: 500px !important;
  max-width: 100%;
  padding: 20px;
  z-index: 2;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#page-servicios .container section .row .card:hover,
#page-ayuntamiento .container section .row .card:hover,
#page-asociaciones .container section .row .card:hover{
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



#page-servicios .container section .row .card img,
#page-ayuntamiento .container section .row .card img,
#page-asociaciones .container section .row .card img{
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  max-width:100%;
}

.list-unstyled{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  max-width: 100%;
}
.list-unstyled .line{
  display: flex;
}
.municipio-item {
  cursor: pointer !important;
  max-width: 100%;
  width: 200px;
  border: #1A1A1A 1px solid ;
  background-color: #c8ddf4;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-title {
  font-size : 1.3rem !important;
}
.card-body {
  background-color: var(--main-color-alert);
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #ffffff;
}
/* END SERVICIOS */
/* start page ayuntamiento */


#page-servicios .container section .promo  .descrisao h1 ,
#page-servicios .container section .promo  .descrisao h3,
#page-servicios .container section .promo  .descrisao p{
 margin:0 auto;
 margin-bottom: 10px;
 padding: 4px;
 text-align: center;
}

#page-servicios .container section .promo  .descrisaoParagrafos{
 max-width: 100%;

}
#page-servicios .container section .promo button {
  font-size: 20px;
  margin: 20px auto ;
  color:var(--main-color-alt);
  background-color: var(--main-color-alert);
  width: 250px;
  padding: 10px;
  border:1px solid var(--main-color-alt);
  box-shadow: white 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#page-servicios .container section .promo button:hover {
  font-weight: bold;
  color:var(--main-color-alt);
  border:white 2px solid;
}



/* ===============>>>>>>>>>>> END SERVICIOS <<<<<<<<<<<==================== */

/* =============================>>>>>>>>>>>>. START CONTACTO <<<<<<=========================== */
#page-contacto {
  display: flex;
  flex-direction: column;
 padding-top: var(--section-padding);
 padding-bottom: var(--section-padding);
}

#page-contacto .container {
 display: flex;
 align-items: center;
 justify-content: center;
 border:1px solid var(--main-color);
 padding-top: 20px;
 padding-bottom: 20px;
 border-radius:20px ;
 -webkit-border-radius:20px ;
 -moz-border-radius:20px ;
 -ms-border-radius:20px ;
 -o-border-radius:20px ;
}
#page-contacto .container .tex-contacto {
  display : flex;
  flex-direction: column;

}
#page-contacto .container .tex-contacto  p {
  width: fit-content;
  background-color: var(--main-color);
  padding: 10px;
}
#page-contacto .container .tex-contacto span {
  color:var(--main-color-alert);
  font-weight: bold;
  margin-left: 10px;
}
#page-contacto .container .tex-contacto a{
  text-decoration: underline;
  font-size: 20px;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px;
}
#page-contacto .container form  {
  border: 1px solid var(--main-color-alert);
  background-color: var(--main-color);
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 20px auto 60px auto;
  padding:20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#page-contacto .container form:hover  {
  border: 1px solid var(--main-color-alt);
}
#page-contacto .container form  h3 {
  text-align: center;
}


#page-contacto .container form  .input-form {
 padding: 10px;
 display:flex;
 flex-direction: column;
 width: 500px;

}

#page-contacto .container form  .input-form label {
  font: 20px;
  margin-bottom: 10px;
  color:var(--main-color-alert);
}
#page-contacto .container form  .input-form input{
  padding:10px;
  border:none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#page-contacto .container form input[type="submit"] {
  background-color: var(--main-color-alert);
  color: white;
  width: 400px;
  margin: auto;
  font-size: 20px;
  height: fit-content;
  padding: 20px;
  border:none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#page-contacto .container form input[type="submit"]:hover {
 border:1px solid var(--main-color-alt);
 font-weight: bold;
}
/* =============================>>>>>>>>>>>>. END CONTACTO <<<<<<=========================== */

/* START animation */
@keyframes up-and-down {
 0% , 100%{
  top:0px;
 }
  50% {
    top:-50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform:translateY(0)  ;
    -webkit-transform:translateY(0)  ;
    -moz-transform:translateY(0)  ;
    -ms-transform:translateY(0)  ;
    -o-transform:translateY(0)  ;

}
40%,
60% {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
  
}


@keyframes left-move {
  50% {
       left:0;
       width: 12px;
       height: 12px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    height: 100%;
     left:0%; 
}
  
}
@keyframes right-move {
  50% {
       right:0;
       width: 12px;
       height: 12px;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
     right:0%;
    
}
  
}
/* End Animation */

/* ================== FOOTER ======================= */
footer {
  position: relative;
  height:fit-content;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--main-color-alert); 
  box-shadow: 0 0  5px var(--main-color-alt);
  margin-top: 40px;
  margin-bottom: 0px;
}
footer .logo {
  width: 20vw;
  padding :10px
}
footer .logo img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
footer .menu-footer {
  display: flex;
  flex-basis: 1;
  width: 50%;
}
footer .menu-footer ul {
  margin-right:60px;
}
footer .menu-footer ul li {
  margin-top:0;
  display: flex;
  flex-direction: column;
}
footer .menu-footer ul li .red i{
  margin-left: 10px;
  font-size: 25px;
  color: var(--main-color-alt);
  padding: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
footer .menu-footer ul li .red i:hover{
  background-color: white;
  border:1px solid var(--main-color-alert)
}
footer .menu-footer ul li a {
  margin-bottom:20px;
  color:var(--main-color-alt);
  text-decoration:underline;
 
}
footer .menu-footer ul li p{
  margin-top:0;

}











